node_modules
.docusaurus
.vercel
build

**/.DS_Store
run.sh
cleanup.sh
update.sh

docs/en/whats-new/changelog/_2023.md

.ignore
.marksman.toml
yarnbuild.out
clickhouse-docs.code-workspace
.idea
**/tmp/
yarn.lock
yarn.error-log
.comments
